---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="template" id="showcase">
  <Fragment slot="lead">
    naster <span class="text-primary">versatil</span>.{" "}
    <span class="text-primary">Explora</span> nuestros trabajo y mira{" "}
    <span class="text-primary">inspirate</span>.
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {sites.map((site) => <ShowcaseCard site={site} />)}
    </div>
    <p class="text-sm text-right">
      <a class="text-primary" href="https://astro.build/showcase/">
        ...y mas &rarr;
      </a>
    </p>
  </div>
</ContentSection>
